<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="xmlBookmarksBuilder"
         name="%extension.builder.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.mfjassociates.ui.markers.builder.XMLBookmarksBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="xmlBookmarksNature"
         name="%extension.nature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.mfjassociates.ui.markers.builder.XMLBookmarksNature">
         </run>
      </runtime>
      <builder
            id="net.mfjassociates.ui.markers.xmlBookmarksBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name"
            id="net.mfjassociates.ui.markers.xmlBookmarksNature.category">
      </category>
      <command
            name="%command.name"
            defaultHandler="net.mfjassociates.ui.markers.builder.AddRemoveXMLBookmarksNatureHandler"
            categoryId="net.mfjassociates.ui.markers.xmlBookmarksNature.category"
            id="net.mfjassociates.ui.markers.addRemoveXMLBookmarksNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="net.mfjassociates.ui.markers.addRemoveXMLBookmarksNature"
               label="%command.disable.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="net.mfjassociates.ui.markers.xmlBookmarksNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.mfjassociates.ui.markers.addRemoveXMLBookmarksNature"
               label="%command.enable.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="net.mfjassociates.ui.markers.xmlBookmarksNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="%extension.name.1"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
